.login-page-wrapper {
    background-image: url("../../../../public/assets/images/background-login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}